main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
}

main p{
  background-color: gainsboro;
}


main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
  color: orangered;
  box-shadow: 10px 5px 5px grey;
}

footer{
  border: thin solid black;
}

p{
  color: orangered;
}

h1{
  color: orangered;
}

ul{
  list-style-type: none;
}
img{
  border-radius: 8%;
  box-shadow: 10px 5px 5px grey;
}
